body{
    margin: 0px;
    padding: 0px;
    background-color: white;
}

img {
    height: 10%;
    width: 10%;
    text-align: left;
    float: left;
    margin: 0%;
}

.header{
    float: center;
    text-align: center;
    text-decoration: none;
    margin: 1%;
    height: auto;
    font-size: 4em
}

.header a{
    text-decoration: none;
    color: black;
}

h2{
    float: center;
    text-align: center;
}

.menubar{
  overflow: hidden;
  background-color:#ffa13d;
  color: white;
  width: 100%;
  bottom: 0;
  margin-bottom: 30px;
}


.main{
  margin-bottom: 30px;
}

h1{
    float: center;
    text-align: center;
    font-size: 3em;
    text-decoration: none;
}

h1 a{
    text-decoration: none;
    color:white;
}

.text{
    float: center;
    text-align: center;
    width: auto;
    font-size: 20px;
    margin: 15px;
}

.menubar a {
  float: left;
  display: block;
  color: white;
  margin: 0px;
  background-color:#ffa13d;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
}

.menubar a:hover, .menubar a:active {
  background-color: gray;
}

.menubar a:visited{
    color: white;
    text-decoration: none;
}

.style{
    margin: auto;
    display: block;
    padding: 5px;
    text-align: center;
    float: center;
    font-size:  15px;
    cursor: pointer;
    text-decoration: none;
    font-family: Arial;
}
